[run]
omit =
    thalos_prime/api/*
    thalos_prime/database/*
    thalos_prime/models/*

source = thalos_prime

[report]
omit =
    thalos_prime/api/*
    thalos_prime/database/*
    thalos_prime/models/*
